beautifulsoup4==4.11.1
certifi==2020.12.5
chardet==4.0.0
idna==2.10
lxml==4.9.1
numpy==1.23.3
pandas==1.5.0
python-dateutil==2.8.1
pytz==2021.1
requests==2.28.1
six==1.15.0
soupsieve==2.2.1
urllib3==1.26.4
xxl==0.0.1
selenium==4.3.0
openpyxl==3.0.10
